{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - Nuovo album desiderato{% endblock head_title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'album_desiderati' %}">Album desiderati</a></li>
<li class="breadcrumb-item active">Nuovo</li>
{% endblock breadcrumb %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-12 col-md-8 col-lg-6">
        <h2>Nuovo album desiderato</h2>
        <p class="text-muted">
            Se l'artista non esiste ancora, crealo prima.
            <a href="{% url 'crea_artista' %}">Crea artista</a>
        </p>
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <datalist id="artisti-list">
                {% for art in artisti %}
                    <option value="{{ art.nome_artista }}"></option>
                {% endfor %}
            </datalist>
            {% if request.user.is_authenticated and request.user.is_staff %}
            <input type="submit" class="btn btn-info" value="Inserisci!">
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}
